.home{
  background: rgba(176, 175, 175, 0.826) url(./components/tools/bg.svg);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.main{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.first-container{
  margin: 1em;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
margin: 1em;
}
.card{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(244, 244, 246, 1);
  margin-bottom: 2em;
  padding: 2em;
 

}
.hero-img{
  width: 50%;
}
h1{
  margin: .3em 0;
  font-weight: 400;
  font-size: 20;
}
h4{
  text-align: left;
  width: 100%;
}

/* Secondpage */
.secondpg{
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
hr{
  border: none;
  border-bottom: 2px solid lightgray;
  width: 45%;
}

.line, .location, .location > div,.btn{

display:flex;
justify-content: center;
}



.locator, .arrow{
  background-color: lightgray;
  margin: 1em 1em;
  padding: .5em ;
}
.searchbar > div{
  display: flex;
  padding: .3em .75em;
 width: 80%;
background-color: rgba(242, 242, 242, 1);
border-radius: 20px;
}
.searchbar {
display: flex;
justify-content: center;
align-items: center;
}
.searchbar > div > input{
border: none;
background-color: rgba(242, 242, 242, 1);
padding: .5em;
width: 80%;

}
.searchbar > div > img{
  padding: .5em;
}
.steptwo{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.steptwo > h4{
  text-align: center;
}
.btn > button{
  background-color: 
  rgba(38, 77, 217, 1);
  border: none;
  color: white;
width: 90%;
padding: 1.5em 0.5em;
border-radius: 24px;
}